.quill-editor {
  box-shadow: -2px 2px 14px -6px #ebebeb;
  margin-bottom: 10px;
  .ql-toolbar.ql-snow {
    border: 1px solid #f5f4f4;
  }
  .ql-container.ql-snow {
    border: 1px solid #f5f4f4;
  }
}
